body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* ##### login ##### */
div.login {
  display: grid;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 400px;
  height: 500px;
  background-color: rgba(235, 239, 238, 0.449);
  box-shadow: 3px 10px 20px 5px rgba(61, 54, 54, 0.2);
}
div.login form {
  display: grid;
  margin: 0px auto;
  width: 300px;
  padding: 10px 20px;
  justify-content: center;
}
div.login input{
  margin-bottom: 15px;
  width: 350px;
  padding: 10px 20px;
  background-color: transparent;
  border: solid 3px orangered;
  font-weight: 600;
  font-size: 1rem;
}
div.login button{
  padding: 10px;
  background-color: transparent;
  border: solid 3px orangered;
  font-weight: bolder;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
div.login button:hover{
  background-color: orangered;
  border: solid 3px orangered;
  color: floralwhite;
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
}
div.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
div.chatComposer ul li{
  grid-column: 4 / 7;
}
