body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* ##### login ##### */
div.login {
  display: grid;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 400px;
  height: 500px;
  background-color: rgba(235, 239, 238, 0.449);
  box-shadow: 3px 10px 20px 5px rgba(61, 54, 54, 0.2);
}
div.login form {
  display: grid;
  margin: 0px auto;
  width: 300px;
  padding: 10px 20px;
  justify-content: center;
}
div.login input{
  margin-bottom: 15px;
  width: 350px;
  padding: 10px 20px;
  background-color: transparent;
  border: solid 3px orangered;
  font-weight: 600;
  font-size: 1rem;
}
div.login button{
  padding: 10px;
  background-color: orangered;
  border: none;
  font-weight: bolder;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: antiquewhite;
  border: solid 3px orangered;
}
div.login button:hover{
  box-shadow: 1px 2px 5px 5px rgba(192, 34, 34, 0.2);
  background-color: orangered;
  border: solid 3px orangered;
  color: floralwhite;
  font-weight: bolder;
  cursor: pointer;
  padding: 10px;

}
div.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
div.chatComposer{
  background-color: rgba(235, 239, 238, 0.449);
  box-shadow: 3px 10px 20px 5px rgba(61, 54, 54, 0.2);
  margin-top: 50px;
  grid-column: 4 / 7;
  padding: 15px;
}
div.chatComposer form{
  display: flex;
  justify-content: center;
  padding: 10px;
}
div.chatComposer form input{
  padding: 5px 15px;
  border: solid 2px orangered;
}
div.chatComposer form button {
  border: none;
  background-color: orangered;
  padding: 0px 15px;
  font-weight: 500px;
  color: bisque;
  font-weight: bold;
}
div.chatComposer li{
  display: flex;
  justify-content: end;
  gap: 10px;
  list-style-type: none;
  font-weight: 600;
  text-transform: capitalize;
}
.icons{
  color: rgb(143, 141, 141);
  cursor: pointer;
}
.icons:hover{
  color: rgb(156, 18, 18);
  cursor: pointer;
}
div.contactList{
  grid-column: 1 / 3;
  background-color: rgba(235, 239, 238, 0.449);
  box-shadow: 3px 10px 20px 5px rgba(61, 54, 54, 0.2);
  margin-top: 50px;
  padding: 15px;
  gap: 10px;
}
div.contactList section{
  display: flex;
}
div.contactList li{
  gap: 10px;
  list-style-type: none;
  font-weight: 700;
}
.mainNav{
  display: flex;
  background-color: aquamarine;
  width: 100vw;
  padding: 15px 25px;
  gap: 15px;
}
.logout{
  margin-top: 10px;
  padding: 5px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}